<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(yield(:title)) %></title>
  </head>
  <body>
    <h1>Shiboru</h1>
    <p>
    自然と人をつなぐ、新しい発見の場
    <br>
    <p>
    「Shiboru」は、あなたの周りの美しい自然を写真や動画で記録し、世界中の人々と共有できる、新しい形のコミュニティです。
    </p>
    <p>
    Shiboruでできること
        <li>お気に入りの自然スポットを投稿: 美しい風景、珍しい動植物、季節の変わり目など、あなたの大切な思い出を記録しましょう。</li>
        <li>世界中の自然を探索: 世界中のユーザーが投稿した写真や動画を閲覧し、新たな発見の喜びを味わえます。</li>
        <li>コミュニティに参加: コメントやいいねで他のユーザーと交流し、自然への愛を深めましょう。</li>
     </p>
     <p>
    こんな人にオススメ
        <li>自然が好きで、美しい風景を写真に収めるのが好きな人</li>
        <li>新しい場所を探して旅に出かけるのが好きな人</li>
     </p>
     <p>
    Shiboruを使うメリット
        <li> 手軽に自然を楽しめる: スマートフォン一つで、いつでもどこでも自然と触れ合えます。</li>
        <li>自然保護に貢献: 美しい自然を守るために、情報を共有し、多くの人に自然の大切さを伝えることができます。</li>
        <li>ストレス解消: 自然に触れることは、心身に良い影響を与え、ストレスを軽減する効果が期待できます。</li>
     </p>
    Shiboruで、自然とのつながりを深め、豊かなライフスタイルを送りましょう。
    
    </p>
  </body>
</html>