<!DOCTYPE html>
<html>
  <head>
    <title><%= title_helper(yield(:title)) %></title>
  </head>
  <body>
    <h1>Shiboru</h1>
    <p>
      This is the home page for the
      Shiboru.
    </p>
  </body>
</html>